@import url('http://font.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');

	
	
}
h1{
	margin-top:50px;
	margin-left:100px;
}
body {
  background-image:url('anuj.jpg');
  font-family:  Helvetica;
  
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.fa-facebook {
  background: #0a55f7;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
input[type=text], select, textarea {
  width: 50%; 
  padding: 8px;  
  display: inline-block;
  text-align: left;
  border: 3px solid black; 
  background: rgba(105, 105, 105, 0); 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin: 25px -100px 0px 50px;
  resize: vertical 
 }
 input[type=radio]{
  width:4%;
  padding: 12px;
  margin-left: 4px;

 }
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
   
}

.container {
  text-align: right;
  display: block;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.13);
  backdrop-filter: blur(10px);;
  padding: 100px;
  margin: 20px 200px 0px 200px;
  box-sizing: border-box;
}
label{
  width:10px;
  display: inline-block;
  text-align: left;
}


	